@page "/"

@layout LoginLayout

@inject ILoginVM vm

@inject AuthenticationStateProvider authenticationProvider
@inject NavigationManager navigationService

<div class="login-container">

    <div class="wrapper">
        <div class="img-container">
            <img src="/Images/logo.png" />
        </div>
        

        <h1>Авторизация</h1>
        <div class="input-box">
            <span class="material-symbols-sharp">person</span>
            <input type="text" placeholder="Логин" @bind="vm.Login" />
            
        </div>
        <div class="input-box">
            <span class="material-symbols-sharp">lock</span>
            <input type="password" placeholder="Пароль" @bind="vm.Password" />
            
        </div>
        <button class="login-button" @onclick="() => vm.LoginCompletly(vm.Login, vm.Password)">Логин</button>
        
    </div>

    @if (vm.IsLoading)
    {
        <BlurLoading/>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        vm.AuthenticationProvider = authenticationProvider;
        vm.NavigationService = navigationService;
    }

    protected override async Task OnInitializedAsync()
    {
        await vm.InitilizedVMAsync();
    }
}