@page "/admin_panel/user_edit"
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "А.П.")]

@inject IUserEditVM vm
@inject NavigationManager navigationService

@if (vm.UserInf.User.Id != 0)
{
    <h1>Редактировать или удалить пользователя</h1>
}
else
{
    <h1>Создать нового пользователя</h1>
}

<div class="main-container" disabled="@vm.IsLoading.ToString()">
    <div class="input-box" style="margin: 10px; width: 82%;">
        <input type="text" style="padding: 20px 20px 20px 20px;" @bind="vm.UserInf.User.Login" placeholder="Логин" />
    </div>

    <div class="input-box" style="margin: 10px; width: 82%;">
        <input type="password" style="padding: 20px 20px 20px 20px;" @bind="vm.UserInf.User.Password" placeholder="Пароль" />
    </div>

    <div class="input-box" style="margin: 10px; width: 82%;">
        <input type="text" style="padding: 20px 20px 20px 20px;" @bind="vm.UserInf.UserDetails.FirstName" placeholder="Имя" />
    </div>

    <div class="input-box" style="margin: 10px; width: 82%;">
        <input type="text" style="padding: 20px 20px 20px 20px;" @bind="vm.UserInf.UserDetails.SecondName" placeholder="Фамилия" />
    </div>

    <div class="input-box" style="margin: 10px; width: 82%;">
        <input type="text" style="padding: 20px 20px 20px 20px;" @bind="vm.UserInf.UserDetails.MiddleName" placeholder="Отчество (Необязательно)" />
    </div>

    <div class="select-box" style="margin: 10px; width: 82%;">
        <select style="padding: 20px 20px 20px 20px;" @bind="vm.UserInf.UserDetails.Role">
            <option value="Выберите привелегию">Выберите привелегию</option>
            <option value="О.Р.">Оператор расписания</option>
            <option value="А.П.">Админ приложения</option>
        </select>
    </div>

    <div class="buttons-container" style="justify-content: space-between;">
        <a class="button1" href="/admin_panel" style="height: auto; background: gray;">Вернуться обратно</a>

        @if (vm.UserInf.User.Id != 0)
        {
            <a class="button1" @onclick="async () => await vm.Delete(vm.UserInf)" style="height: auto; background: red;">Удалить пользователя</a>

        }

        <a class="button1" @onclick="async () => await vm.Save(vm.UserInf)" style="height: auto; background: blue;">Сохранить пользователя</a>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        vm.NavigationService = navigationService;
    }
}
