@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap'); /* Open Sans 600 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap'); /* Open Sans 700 */

/* Убрал скролл можешь оставить если надо */
::-webkit-scrollbar{
    display: none;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

.center-notification{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

/* Hide the cancel button */
::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* Hide the magnifying glass */
::-webkit-search-results-button {
    -webkit-appearance: none;
}

/* Remove the rounded corners */
input[type=search] {
    -webkit-appearance: none;
}

.loading-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: white;
    height: 70vh;
    width: 100vw;
}

:root{
    --primary-color: #EA0029;
    --black-color: #000000;
    --gray-color: 	#7e7e7e;
    --white-color: white;
}

/* Header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--primary-color);
}
.title{
    font-weight: 700;
    color: var(--white-color);
    font-size: 26px;
}
/* Header */


/*  Filter */
.sort-tools{
    margin-top: 10px ;
    height: 60px;
    display: flex;
    justify-content: center;
}
.sort-tools > .sel-date{
    border: 1px solid rgb(176, 176, 176);
    border-radius: 10px;
    width: 150px;
    height: 49px;
    background-color: var(--gray-color);
    color: var(--white-color);
    font-size: 20px;
    font-weight: 700;
    padding: 1px 15px 1px 15px;
    margin: 10px;
}
.sort-tools > .sel{
    border: 1px solid rgb(176, 176, 176);
    border-radius: 10px;
    height: 49px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding: 1px 15px 1px 15px;
    margin: 10px;
}

div[disabled=true] {
    pointer-events: none;
    opacity: 0.4;
}

#date{
    width: 160px;
}
#type{
    width: 160px;;
}
#value{
    width: auto;
}
/*  Filter */

/* DayOfWeek */
.day-of-week{
    margin-top: 30px;
    justify-content: center;
    width: 99%;
}
.day-of-week > p{
    margin-left: 25px;
    color: var(--gray-color);
    font-weight: 700;
    font-size: 22px;


}
.day-of-week > hr{
    margin-top: 5px;
    margin-left: 5px;
    color: var(--gray-color);
}
/* DayOfWeek */

/* SpinnerStyle */
.spinner-container{
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: center;
}
.spinner{
    border: 16px solid silver;
    border-top: 16px solid red;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 800ms linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
/* SpinnerStyle */

/* Schedule Container */
.schedule-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* Schedule Container */

/* Schedule */
section {
    width: 466px;
    height: 615px;
    background-color: #EA0029;
    border-radius: 20px;
    overflow: hidden;
}
section * {
    font-family: 'Open Sans', sans-serif;
}
section > h1 {
    margin: 0px 0px;
    padding: 14px 0px 12px 24px;
    height: 26px;
    font-size: 24px;
    font-weight: 600;
    color: var(--white-color);
}
section > div {
    /* position: absolute; */
    /* width: 466px; */
    height: 515px;
    outline: 1px solid #EAEAEA;
    outline-offset: -1px;
    background-color: #FCFCFC;
}
section > div  div {
    position: relative;
    margin: 11px 0px;
    width: 100%;
    height: 60px;
    top: 15px;
}
section > div > div > p {
    margin: 0px 0px;
    padding: 20px 0px 24px 0px;
    width: 33px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}
section > div > div > div {
    position: absolute;
    margin: 0px 0px;
    width: calc(100% - 50px);
    top: 0px;
    left: 33px;
    border-radius: 10px;
    outline: 1px solid #EAEAEA;
    background-color: var(--white-color);
}
section > div > div > div > span {
    position: absolute;
    width: 60px;
    height: 40px;
    top: 10px;
    left: 7px;
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 700;
}
section > div > div > div > main {
    display: flex;
    position: absolute;
    inset: 0px 0px 0px 60px;
}
section > div > div > div > main > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
    margin: 0px 0px;
    padding: 4px 0px 0px 0px;
    top: 0px;
    height: 57px;
    overflow: hidden;
}
section > div > div > div > main > p {
    margin: 20px 0px;
    width: calc(100% - 70px);
    font-size: 14px;
    font-weight: 700;
    color: var(--gray-color);
    text-align: center;
}
section > div > div > div > main > div > p {
    margin: 0px 0px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
section > div > div > div > main > div > span {
    overflow: hidden;
}
section > div > div > div > main > div > span > :nth-child(1) {
    margin: 0px 0px;
    font-size: 11px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--black-color);
}
section > div > div > div > main > div > span > :nth-child(2) {
    margin: 0px 0px;
    font-size: 11px;
    font-weight: 700;
    white-space: nowrap;
    color: var(--gray-color);
}
section > div > div > div > main > div > span > b {
    margin: 6px 10px 21px 0px;
    height: 20px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
}
/* Schedule */

@media screen and (max-width: 768px){
    /*  Filter */
    .sort-tools{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(65px, auto);
        justify-content: center;
    }
    #date{
        width: 75%;
    }
    #type{
        width: 90%;
    }
    #value{
        width: 95%;
        grid-column: 1/3;
    }
    .day-of-week{
        margin-top: 85px;
        justify-content: center;
        width: 99%;
    }
    /*  Filter */

    /* Schedule Container */
    .schedule-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    /* Schedule Container */

    /* Schedule */
    
    /* Schedule */

}